@charset "utf-8";
/* CSS Document */

/* body{
    background-color: #FFFBDC;
} */

body.mail{
    max-width: 800px;
    margin: auto;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

table#form, table#kizai, table#kizai2{
    margin: auto;
    width: 100% ;
    max-width: 800px;

}
tr{
    padding: 10px 0px;
}
tr{
    background-color: #E3E3E3;
}
tr.midashi{
    background-color: #BFBFBF;
}
th{
    padding: 5px 10px;
    font-size: larger;
}
table, td{
    padding: 2px 10px;
    box-sizing: border-box;
}
td{
    float: left;
}
td.w20{
    width: 20%;
}
td.w25{
    width: 25%;
}
td.w30{
    width: 30%;
}
td.w40{
    width: 40%;
}
td.w50{
    width: 50%;
}
td.w60{
    width: 60%;
}
td.w70{
    width: 70%;
}
td.w80{
    width: 80%;
}
td.w80{
    width: 90%;
}
td.w100{
    width: 100%;
}

#hidebutton{
    display: none;
}

.fullsize{
    width: 100%;
    
}

input[type="text"],input[type="tel"]{
    width: 100%;
    box-sizing: border-box;
}

input[type="text"].ss{
    width: calc(100% - 60px);
    box-sizing: border-box;
}

input#zip{
    width: 90px;
    box-sizing: border-box;
}

select.kizai{
    width: 100%;
}

input[type="checkbox"].dekai{
	width: 20px;
    height: 20px;
    margin: 0.5em;
}
label.thin{
    font-weight: 400!important;
}
.red{
    color: red;
}

@media (max-width: 768px){

tr td:nth-child(2n+1){
    padding-top: 5px;
}
tr td:nth-child(2n){
    padding-bottom: 5px;
}

td{
    width: 100%!important;
    padding: 0px 10px;
}

.kizai-w20{
    width: 20%!important;
    padding: 10px;
}

.kizai-w80{
    width: 80%!important;
    padding: 10px;
}


}
@media (min-width: 576px){
    .container{
        max-width: 100%;
    }
}