@charset "utf-8";
/* CSS Document */

body{
    background-color: #FFFBDC;
}

h1{
    text-align: center;
}
.larger{
    font-size: larger;
}
#list{
    width: 100%;
    max-width: 1000px;
    height: 500px;
    overflow-y: scroll;
    margin: auto;
}
  
#detail{
    width: 100%;
    max-width: 800px;
    margin: auto;
}
label.thin{
    font-weight: 400!important;
}
div .box1000{
    max-width: 1000px;
    margin: auto;
}

tr.trused{
    display: none;
    vertical-align: inherit;
}
tr.gray{
    display: table-row;
    color: gray;
    background-color: #cccccc!important;
    text-decoration: none;

}
p .center{
    text-align: center;
}

table#form{
    margin: auto;
    width: 100% ;
}
table#pctool{
    width: 2000px;
    overflow-x: scroll;
}
table#days{
    margin: auto;
    width: 650px;
}
table.full{
    width:100%
}
.center{
    text-align: center;
}
tr{
    padding: 10px 0px;
}
/* tr{
    background-color: #E3E3E3;
} */
tr.midashi{
    background-color: #BFBFBF;
}
tr.midashi>th{
    padding-left: 1em;
}
tr.disabled{
    background-color: #BFBFBF;
}

.darkgray{
    background-color: #BFBFBF;
}

th{
    padding: 5px 0px;
    font-size: larger;
}


input[type=checkbox].rent{
  display: hidden;
}

.box30{
  width: 30px;
  text-align: center;
  overflow-x: hidden;
}
.box60{
  width: 60px;
  text-align: center;
}
.box100{
  width: 100px;
  text-align: center;
}
.box120{
  width: 120px;
  text-align: center;
}
.nowrap{
  overflow: hidden;
  text-overflow: ellipsis;
}
/* td{
    float: left;
} */
td.w15{
    width: 15%;
}
td.w20{
    width: 20%;
}
td.w25{
    width: 25%;
}
td.w30{
    width: 30%;
}
td.w40{
    width: 40%;
}
td.w50{
    width: 50%;
}
td.w60{
    width: 60%;
}
td.w70{
    width: 70%;
}
td.w80{
    width: 80%;
}
td.w80{
    width: 90%;
}
td.w100{
    width: 100%;
}

input[type="text"]{
    width: 100%;
    box-sizing: border-box;
}

input#zip{
    width: 90px;
    box-sizing: border-box;
}

select.kizai{
    width: 100%;
}

@media (max-width: 768px){

td.left,td.right,td.right-half{
    width: 100%;
    padding: 0px 10px;
}
tr td:nth-child(2n+1){
    padding-top: 5px;
}
tr td:nth-child(2n){
    padding-bottom: 5px;
}
td.kizai-right{
    padding: 2px 10px!important;
}

td.kizai-left{
    padding: 2px 10px!important;
}

}
